<div class="page-header" id="login-header">
  <h1>Install this app on your shop</h1>
  <h1><small>Please login to start using it.</small></h1>
</div>

<div style="width:340px; margin:0 auto;">
  <%= form_tag login_path, :class => 'form-search' do %>
    <%= text_field_tag 'shop', nil, :placeholder => 'Shop URL ex: test.myshopify.com', :class => 'btn-large'  %> 
    <%= submit_tag 'Install', :class => 'btn btn-success btn-large' %>
  <% end %>
</div>

<p align="center" style="margin-top:30px">
  <%= image_tag 'shopify.png' %>
</p>
<br/>
<p align="center" class="muted"><a href="http://www.invoicexpress.net">InvoiceXpress</a> let's you invoice your customers from Shopify when a order gets paid.</p>
 
