.wizard.hero-unit
  %h1 Woopsie Daisy 
  %p
    We're having trouble connecting to the Shopify API. But don't worry it should be just temporary. 
  %p
    %a.btn.btn-large.btn-success{:href=>"#{root_path}", :target=>'_blank'} Go to Home