
@base-col:#5BB75B;
@background-col:#eee; 

html, body { background-color: @background-col; }
body { padding-top: 40px;}

footer { margin-top: 7px; padding-top: 7px; color:#aaa;}

a { color:@base-col;
  &:hover { color: saturate(@base-col, 5%); text-decoration:none;}
}

// .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
//   background-color:$col-blue !important;
//   [class^="icon-"] { background-image: url('/assets/twitter/bootstrap/glyphicons-halflings-white.png');}
// }

.container {
  > footer p { text-align: center;}
  > .content { background-color: #fff; padding: 20px; margin: 0 -20px; }
}

// .page-header h1 { color:$col-blue;}
.content { min-height: 500px;}

/* NAVBAR */ 
.navbar {
  .brand { color: #fff; text-shadow:0 1px 0 #333;}
  .navbar-inner { background-image:none; background-color:#444; box-shadow:none;}
  .nav > li.active > a, .nav > li.active > a:hover { background-color: #eee;}
  p a { color: #ffffff;}
}

.navbar .nav > li > a:hover, .navbar .dropdown-menu a:hover { background-color: #eee;}

.btn-navbar {
  background-color: #111;
  background-image: none;
  border-color:#222;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-navbar:hover { border-color:#333;}
.btn-navbar:before { opacity:0;}
 

@media (max-width: 980px) {
  body { padding-top: 0px !important;}
  .navbar .nav.pull-right { display:none;}
  .navbar-fixed-top { margin:0;}
}
  
#login-header { border-bottom:none;
  h1 { text-align:center;}
}

  
/* fix */
.stupid_checklabel .controls label{
  color:#fff;
}

