.well.helpbox.hide#how1
  .pull-right
    %a{:href=>"#", :class=>'close'} &times;
  %h4 Where to obtain username
  = image_tag 'screen1.png'
  %p Copy the first part of your invoiceXpress URL.

.well.helpbox.hide#how2
  .pull-right
    %a{:href=>"#", :class=>'close'} &times;
  %h4 Where to obtain your API Key
  = image_tag 'screen2.png'
  %p 1) In InvoiceXpress, go to 'Settings'
  %p 2) Click on API
  %p 3) Click on Activate Token
  %p 4) Copy the API key

.well.helpbox.hide#how3
  .pull-right
    %a{:href=>"#", :class=>'close'} &times;
  %h4 How to setup automatic sequences
  = image_tag 'screen1.png'
  %p blobloblo.